# Local environment setup example
# Copy to a new file (local_env.sh) and fill the blanks
# Use the 'source local_env.sh' to setup your environment

#Following environment variables need to be set for edx-e2e-tests tests 

export BASIC_AUTH_USER=<FILLIN>
export BASIC_AUTH_PASSWORD=<FILLIN>
export USER_LOGIN_EMAIL=<FILLIN>
export USER_LOGIN_PASSWORD=<FILLIN>
export COURSE_ORG=<FILLIN>
export COURSE_NUMBER=<FILLIN>
export COURSE_RUN=<FILLIN>
export COURSE_DISPLAY_NAME=<FILLIN>

#Following environment variables need to be set for whitelabel tests 

export BASIC_AUTH_USER=<FILLIN>
export BASIC_AUTH_PASSWORD=<FILLIN>
export USER_LOGIN_EMAIL=<FILLIN>
export USER_LOGIN_PASSWORD=<FILLIN>
export COURSE_RUN=<FILLIN>
export COURSE_DISPLAY_NAME=<FILLIN>
export COURSE_NUMBER=<FILLIN>
export COURSE_ORG=<FILLIN>
export GLOBAL_PASSWORD=<FILLIN>
export STAFF_USER_EMAIL=<FILLIN>
export TEST_EMAIL_SERVICE=<FILLIN>
export TEST_EMAIL_ACCOUNT=<FILLIN>
export TEST_EMAIL_PASSWORD=<FILLIN>
export ACCESS_TOKEN=<FILLIN>
