name: Push Docker Images

on:
  push:
    branches:
      - master

jobs:
  publish_docker_image:
    name: Publish Docker Image
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to DockerHub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: edxops/e2e:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
